assets/resume-example.pdf
assets/project-3.png
assets/project-2.png
assets/project-1.png
assets/profile-pic-2.png
assets/linkedin.png
assets/github.png
assets/experience.png
assets/education.png
assets/email.png
assets/checkmark.png
assets/arrow.png
assets/about-pic.png
assets/profile-pic.png
