@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* GENERAL */

*{
    margin: 0;
    padding: 0;
    background-color: black;
}

body{
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

p {
    color: white ;
}

/* TRANSITION */

a, .btn{
    transition: all 300ms ease;
}

/* DESKTOP NAV */

nav, .nav-links {
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.2rem;
}

a{
    color: white;
    text-decoration: none;
    text-decoration-color:black;
}

a:hover{
    color: grey;
    text-decoration:underline ;
    text-underline-offset: 1rem;
    text-decoration-color: grey;
}
.logo{
    color: white;
}
.logo:hover{
    cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display:none;
}

.hamburger-menu{
    position:relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}